<% set_meta_tags :title => 'お問い合わせ(完了)', :reverse => true %>
<div class="container">
  <h1>お問い合わせ(完了)</h1><br>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <h3>お問い合わせの送信が完了しました。貴重なご意見、ありがとうございました。</h3>
    </div>
  </div>
</div>
