<% set_meta_tags :title => 'お問い合わせ', :reverse => true %>
<div class="container">
  <h1>お問い合わせ</h1><br>
  <p>質問やご要望などをお書きください。回答は連絡先メールアドレスへ直接送信させていただきます。</p>
  <p>注：<strong style='color: #E00;'>*</strong>が付いているものは必須項目です。</p><br>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
