@import "bootstrap-sprockets";
@import "bootstrap";
@import "config";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* header */
header {
  background-color: $black;
  text-align: center;
  color: $white;
  .main-title {
    a {
      color: $white;
    }
    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar .navbar-nav {
    padding-top: 20px;
    display: inline-block;
    float: none;
    vertical-align: top;
    a {
      color: $white;
    }
    a:hover {
      background: $black;
      color: $green;
    }
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  ul {
    li{
      font-size: medium;
    }
  }
  .dropdown:hover > .dropdown-menu{
  display: block;
  }
  .logout-button {
    float: right;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

/* footer */
footer {
  margin-top: 100px;
  border-top: 1px solid #ccc;
  .navbar .navbar-nav {
    font-size: medium;
    a {
      color: $black;
    }
    a:hover {
      background-color: $white;
      color: $green;
    }
  }
}

/* サイドバー */
.sidebar {
  .sidebar-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: thin solid $gray;
    padding: 20px 0 20px 20px;
    font-weight: bold;
    border-left: medium solid $bronze
  }
  .column {
    font-size: 18px;
    border-left: thin solid $gray;
    border-right: thin solid $gray;
    border-bottom: thin solid $gray;
    padding: 10px 0 10px 20px;
  }
  .column:hover {
    background-color: $light-gray;
  }
  a {
    color: $black;
  }
  a:hover {
    text-decoration: none;

  }
}

/* アフェリエイト */
.affiliate-list {
  margin-top: 80px;
  .affiliate-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.affiliate-list-sp {
  margin-top: 80px;
}

/* button */
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* markdownのcode記法のcss */
code {
  color: $orange;
  font-weight: bold;
  background-color: inherit;
}

/* notfoundページ */
.notfound {
  text-align: center;
}

input[type="checkbox"] {
  margin-right: 8px;
}

/* Shopのジャンルタグ表示 */
.shop-tag{
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: rgba(0,0,0,.1) 0 1px 2px;
}
