@import "bootstrap-sprockets";
@import "bootstrap";
@import "config";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* header */
header {
  background-color: $black;
  text-align: center;
  color: $white;
  .main-title {
    a {
      color: $white;
    }
    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar .navbar-nav {
    padding-top: 20px;
    display: inline-block;
    float: none;
    vertical-align: top;
    a {
      color: $white;
    }
    a:hover {
      background: $black;
      color: $green;
    }
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  ul {
    li{
      font-size: medium;
    }
  }
  .dropdown:hover > .dropdown-menu{
  display: block;
  }
  .logout-button {
    float: right;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

/* footer */
footer {
  margin-top: 100px;
  border-top: 1px solid #ccc;
  .navbar .navbar-nav {
    font-size: medium;
    a {
      color: $black;
    }
    a:hover {
      background-color: $white;
      color: $green;
    }
  }
}

/* サイドバー */
.sidebar {
  .sidebar-title {
    margin-bottom: 0;
    border-bottom: thin solid $gray;
    padding: 20px 0 20px 20px;
    font-weight: bold;
    border-left: medium solid $bronze
  }
  .column {
    font-size: 18px;
    border-left: thin solid $gray;
    border-right: thin solid $gray;
    border-bottom: thin solid $gray;
    padding: 10px 0 10px 20px;
  }
  .column:hover {
    background-color: $light-gray;
  }
  a {
    color: $black;
  }
  a:hover {
    text-decoration: none;

  }
}

/* button */
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* markdownのcode記法のcss */
code {
  color: $orange;
  font-weight: bold;
  background-color: inherit;
}

/* notfoundページ */
.notfound {
  text-align: center;
}
