@import "config";

.required:after {
    content: " *";
    color: #E00;
}

.thumbnail {
  object-fit: contain;
  width: 100px;
  height: 100px;
  background-color: $white;
  border: 1px solid #ccc;
}
