@import "config";

.home {
  .title {
    padding: 20px 0 20px 20px;
    font-weight: bold;
    border-left: medium solid $bronze
  }
  #map {
    margin: 100px auto 20px auto;
    width: 100%;
    height: 400px;
  }
  .shop-abst {
    border-bottom: thin solid $gray;
    padding-top: 10px;
    padding-bottom: 10px;
    .shop-abst-box {
      display: inline-block;
      color: $black;
      font-size: medium;
      vertical-align:middle;
      .shop-abst-name {
        font-size: x-large;
        font-weight: bold;
        color: $green;
        vertical-align:middle;
      }
    }
    .shop-abst-image {
      object-fit: contain;
      width: 15%;
      background-color: $white;
      border: 1px solid #ccc;
      margin-right: 30px;
    }
    a:hover {
      text-decoration: none;
      .shop-abst-name {
        color: $orange;
      }
    }
  }
}
