$white: #fff;
$black: #000;
$green: #00AA00;
$gray: #C0C0C0;

.home {
  .content {
    padding: 15% 0 18% 0;
    text-align: center;
    h1 {
      font-family: Lato,'Open Sans','メイリオ',Meiryo;
      color: $black;
      font-size: 36px;
    }
  }
}
