@import "config";

/* SHOP詳細画面 */
.shop-show {
  /* markdownのcode記法のcss */
  code {
    color: $orange;
    font-weight: bold;
    background-color: inherit;
  }

  .title {
    text-align: center;
    font-family: Lato,'Open Sans','メイリオ',Meiryo;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    padding: 10px 5px;
    .rate {
      margin-top: 10px;
    }
  }
  .body {
    text-align: center;
    font-size: large;
    .detail {
      text-align: left;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .column-name {
      font-weight: bold;
      color: $green;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    #map {
      margin: 20px auto 20px auto;
      width: 80%;
      height: 400px;
    }
  }
  .image-container {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 30px;
    .image {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      display: inline;
      .shop-image {
        object-fit: contain;
        width: 30%;
        background-color: $white;
        border: 1px solid #ccc;
      }
    }
  }
  .sidebar {
    .title {
      padding: 20px 0 20px 20px;
      font-weight: bold;
      border-left: medium solid $bronze
    }
  }
}
